#include <windows.h>
#include "resource.h"

/* Application icon */
IDI_APPICON ICON "res/obZrv.ico"

/* comctl32 v6 visual styles - requires manifest embedded as RT_MANIFEST */
1 24 "res/obZrv.manifest"

/* Toolbar PNG icon strips (9 buttons × icon-size, RGBA) */
IDR_TOOLBAR_96  RCDATA "res/Toolbar.20.png"
IDR_TOOLBAR_120 RCDATA "res/Toolbar.25.png"
IDR_TOOLBAR_144 RCDATA "res/Toolbar.30.png"
IDR_TOOLBAR_192 RCDATA "res/Toolbar.40.png"

/* Main menu */
IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...\tCtrl+O",        ID_FILE_OPEN
        MENUITEM "Open &Remote...",         ID_FILE_OPEN_REMOTE
        MENUITEM "Save &As...\tCtrl+S",     ID_FILE_SAVE_AS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Previous\tLeft",         ID_FILE_PREV
        MENUITEM "&Next\tRight",            ID_FILE_NEXT
        MENUITEM SEPARATOR
        MENUITEM "&Delete\tDel",            ID_FILE_DELETE
        MENUITEM "Delete (no recycle)\tShift+Del", ID_FILE_DELETE_PERM
        MENUITEM SEPARATOR
        MENUITEM "&Refresh\tF5",            ID_FILE_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4",           ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",           ID_EDIT_UNDO,  GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",            ID_EDIT_CUT,   GRAYED
        MENUITEM "&Copy\tCtrl+C",           ID_EDIT_COPY,  GRAYED
        MENUITEM "&Paste\tCtrl+V",          ID_EDIT_PASTE, GRAYED
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Zoom &In\t+",             ID_VIEW_ZOOMIN
        MENUITEM "Zoom &Out\t-",            ID_VIEW_ZOOMOUT
        MENUITEM "Zoom &To...",             ID_VIEW_ZOOMTO,  GRAYED
        MENUITEM "Remember Zoom Level",     ID_VIEW_ZOOMREM, GRAYED
        POPUP "&Zoom Mode"
        BEGIN
            MENUITEM "Window Fit Image, ZoomOut if too Large",  ID_ZOOMMODE_W2I_ZOOMOUT
            MENUITEM "Window Fit Image, No Zoom",               ID_ZOOMMODE_W2I
            MENUITEM SEPARATOR
            MENUITEM "Image Fit Window, ZoomOut Only",          ID_ZOOMMODE_I2W_ZOOMOUT
            MENUITEM "Image Fit Window",                        ID_ZOOMMODE_I2W
            MENUITEM SEPARATOR
            MENUITEM "No Fit",                                  ID_ZOOMMODE_NOFIT
        END
        MENUITEM "Zoom",                    ID_VIEW_ZOOM, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&File list",              ID_VIEW_FILELIST
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About obZrv...",           ID_HELP_ABOUT
    END
END

/* Status bar hints - IDs match command IDs */
STRINGTABLE
BEGIN
    ID_FILE_OPEN        "Open an image file"
    ID_FILE_OPEN_REMOTE "Connect to a remote server and open an image"
    ID_FILE_SAVE_AS     "Save the image with a new name"
    ID_FILE_PREV        "Show previous image in directory"
    ID_FILE_NEXT        "Show next image in directory"
    ID_FILE_EXIT        "Exit the application"
    ID_EDIT_UNDO        "Undo the last action"
    ID_EDIT_CUT         "Cut the selection to the Clipboard"
    ID_EDIT_COPY        "Copy the selection to the Clipboard"
    ID_EDIT_PASTE       "Insert Clipboard contents"
    ID_VIEW_ZOOMIN      "Zoom in"
    ID_VIEW_ZOOMOUT     "Zoom out"
    ID_VIEW_ZOOMTO      "Zoom to a specific ratio"
    ID_VIEW_ZOOMREM     "Remember the current zoom level"
    ID_VIEW_ZOOMMODE    "Select zoom fit mode"
    ID_VIEW_ZOOM        "Zoom"
    ID_VIEW_FILELIST    "Show or hide the file list panel"
    ID_HELP_ABOUT       "Show information about obZrv"
    ID_FILE_REFRESH     "Rescan directory; open next file if current is gone"
END

/* Toolbar tooltip labels - IDs are command ID + STRING_TIP_OFFSET */
STRINGTABLE
BEGIN
    ID_FILE_OPEN        + 100  "Open"
    ID_FILE_OPEN_REMOTE + 100  "Open Remote"
    ID_FILE_PREV        + 100  "Prev"
    ID_FILE_NEXT        + 100  "Next"
    ID_VIEW_ZOOMIN      + 100  "Zoom In"
    ID_VIEW_ZOOMTO      + 100  "Zoom To"
    ID_VIEW_ZOOMOUT     + 100  "Zoom Out"
    ID_VIEW_ZOOMMODE    + 100  "Zoom Mode"
    ID_VIEW_ZOOMREM     + 100  "Remember Zoom"
    ID_VIEW_ZOOM        + 100  "Zoom"
    ID_VIEW_FILELIST    + 100  "File List"
    ID_HELP_ABOUT       + 100  "About"
    ID_FILE_REFRESH     + 100  "Refresh"
END

/* Dialog: Connect to remote server */
IDD_CONNECT DIALOGEX 0, 0, 200, 56
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Open Remote"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Host:port:",   -1,         7,  9,  40, 12, SS_CENTERIMAGE
    COMBOBOX        IDC_HOST,                   50,  8, 136, 80, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Connect",      IDOK,       34, 34,  50, 14
    PUSHBUTTON      "Cancel",       IDCANCEL,   92, 34,  50, 14
END


/* Dialog: Remote file browser */
IDD_REMOTE_BROWSER DIALOGEX 0, 0, 280, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Open Remote File"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "",             IDC_PATHBAR,   7,   6, 230,  10
    PUSHBUTTON      "Up",           IDC_BTN_UP,  243,   4,  30,  12
    LISTBOX         IDC_FILELIST,    7,  20, 266, 152, LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Open",         IDOK,         60, 178,  50,  14
    PUSHBUTTON      "Cancel",       IDCANCEL,    118, 178,  50,  14
END


/* Keyboard accelerators */
IDR_MAINMENU ACCELERATORS
BEGIN
    VK_DELETE,   ID_FILE_DELETE,      VIRTKEY
    VK_DELETE,   ID_FILE_DELETE_PERM, VIRTKEY, SHIFT
    VK_F5,       ID_FILE_REFRESH,     VIRTKEY
    VK_LEFT,     ID_FILE_PREV,        VIRTKEY
    VK_PRIOR,    ID_FILE_PREV,        VIRTKEY
    VK_RIGHT,    ID_FILE_NEXT,        VIRTKEY
    VK_NEXT,     ID_FILE_NEXT,        VIRTKEY
    VK_ESCAPE,   ID_FILE_EXIT,        VIRTKEY
    VK_ADD,      ID_VIEW_ZOOMIN,      VIRTKEY
    "=",         ID_VIEW_ZOOMIN,      ASCII
    VK_SUBTRACT, ID_VIEW_ZOOMOUT,     VIRTKEY
    "-",         ID_VIEW_ZOOMOUT,     ASCII
END


VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "obZrv\0"
            VALUE "ProductName",     "obZrv\0"
            VALUE "FileVersion",     "0.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
