#include <windows.h>
#include "resource.h"

/* Application icon */
IDI_APPICON ICON "res/obZrv.ico"

/* comctl32 v6 visual styles - requires manifest embedded as RT_MANIFEST */
1 24 "res/obZrv.manifest"

/* Toolbar PNG icon strips (9 buttons x icon-size, RGBA) */
IDR_TOOLBAR_96  RCDATA "res/Toolbar.20.png"
IDR_TOOLBAR_120 RCDATA "res/Toolbar.25.png"
IDR_TOOLBAR_144 RCDATA "res/Toolbar.30.png"
IDR_TOOLBAR_192 RCDATA "res/Toolbar.40.png"

/* Main menu */
IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...\tCtrl+O",        ID_FILE_OPEN
        MENUITEM "Open &Remote...",         ID_FILE_OPEN_REMOTE
        POPUP "Recent &Files"
        BEGIN
            MENUITEM "(Empty)",             ID_FILE_RECENT_EMPTY, GRAYED
        END
        MENUITEM "Save &As...\tCtrl+S",     ID_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "&Previous\tLeft",         ID_FILE_PREV
        MENUITEM "&Next\tRight",            ID_FILE_NEXT
        MENUITEM SEPARATOR
        MENUITEM "&Delete\tDel",            ID_FILE_DELETE
        MENUITEM "Delete (no recycle)\tShift+Del", ID_FILE_DELETE_PERM
        MENUITEM SEPARATOR
        MENUITEM "&Refresh\tF5",            ID_FILE_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4",           ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",           ID_EDIT_UNDO,  GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",            ID_EDIT_CUT,   GRAYED
        MENUITEM "&Copy\tCtrl+C",           ID_EDIT_COPY,  GRAYED
        MENUITEM "&Paste\tCtrl+V",          ID_EDIT_PASTE, GRAYED
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Zoom &In\t+",             ID_VIEW_ZOOMIN
        MENUITEM "Zoom &Out\t-",            ID_VIEW_ZOOMOUT
        MENUITEM "Zoom &To...",             ID_VIEW_ZOOMTO,  GRAYED
        MENUITEM "Remember Zoom Level",     ID_VIEW_ZOOMREM, GRAYED
        POPUP "&Zoom Mode"
        BEGIN
            MENUITEM "Window Fit Image, ZoomOut if Large",  ID_ZOOMMODE_W2I_ZOOMOUT
            MENUITEM "Window Fit Image, No Zoom",               ID_ZOOMMODE_W2I
            MENUITEM SEPARATOR
            MENUITEM "Image Fit Window, ZoomOut Only",          ID_ZOOMMODE_I2W_ZOOMOUT
            MENUITEM "Image Fit Window",                        ID_ZOOMMODE_I2W
            MENUITEM SEPARATOR
            MENUITEM "No Fit",                                  ID_ZOOMMODE_NOFIT
        END
        MENUITEM "Zoom",                    ID_VIEW_ZOOM, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&File list",              ID_VIEW_FILELIST
        MENUITEM SEPARATOR
        MENUITEM "Slide &Show...",          ID_VIEW_SLIDESHOW
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About obZrv...",           ID_HELP_ABOUT
    END
END

/* Command hints - "long\nshort" where short is used for toolbar tooltips. */
STRINGTABLE
BEGIN
    ID_FILE_OPEN        "Open an image file\nOpen"
    ID_FILE_OPEN_REMOTE "Connect to a remote server and open an image\nOpen Remote"
    ID_FILE_SAVE_AS     "Save the image with a new name\nSave As"
    ID_FILE_PREV        "Show previous image in directory\nPrev"
    ID_FILE_NEXT        "Show next image in directory\nNext"
    ID_FILE_EXIT        "Exit the application"
    ID_EDIT_UNDO        "Undo the last action"
    ID_EDIT_CUT         "Cut the selection to the Clipboard"
    ID_EDIT_COPY        "Copy the selection to the Clipboard"
    ID_EDIT_PASTE       "Insert Clipboard contents"
    ID_VIEW_ZOOMIN      "Zoom in\nZoom In"
    ID_VIEW_ZOOMOUT     "Zoom out\nZoom Out"
    ID_VIEW_ZOOMTO      "Zoom to a specific ratio\nZoom To"
    ID_VIEW_ZOOMREM     "Remember the current zoom level\nRemember Zoom"
    ID_VIEW_ZOOMMODE    "Select zoom fit mode\nZoom Mode"
    ID_VIEW_ZOOM        "Zoom\nZoom"
    ID_VIEW_FILELIST    "Show or hide the file list panel\nFile List"
    ID_VIEW_SLIDESHOW   "Start a slide show\nSlide Show"
    ID_HELP_ABOUT       "Show information about obZrv\nAbout"
    ID_FILE_REFRESH     "Rescan directory; open next file if current is gone\nRefresh"
    ID_FILE_RECENT_EMPTY "No recent files"
END

/* Dialog: Connect to remote server */
IDD_CONNECT DIALOGEX 0, 0, 280, 244
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Open Remote"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Host:port:",   -1,           7,   9,  40, 12, SS_CENTERIMAGE
    COMBOBOX        IDC_HOST,                     50,   8, 158, 80, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Connect",      IDC_CONNECT, 216,   8,  56, 14
    PUSHBUTTON      "^",            IDC_BTN_UP,    7,  28,  18, 12
    LTEXT           "",             IDC_PATHBAR,  30,  31, 243, 10
    LISTBOX         IDC_FILELIST,     7,  45, 266, 171, LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Open",         IDOK,         84, 224,  50, 14
    PUSHBUTTON      "Cancel",       IDCANCEL,    144, 224,  50, 14
END


/* Dialog: Slide show */
IDD_SLIDESHOW DIALOGEX 0, 0, 360, 268
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Slide Show"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Files",IDC_STATIC,8,8,148,34
    AUTORADIOBUTTON "Current folder", IDC_SS_SOURCE_CURRENT,16,22,63,10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Custom  -->",IDC_SS_SOURCE_CUSTOM, 87,22,50,10

    GROUPBOX        "Switch",IDC_STATIC,8,48,148,31
    LTEXT           "Interval (sec):",IDC_STATIC,17,61,72,10
    EDITTEXT        IDC_SS_INTERVAL,76,59,36,14,ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX        "Order",IDC_STATIC,8,84,148,40
    AUTORADIOBUTTON "Normal",IDC_SS_ORDER_NORMAL,   16,101,46,10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Reverse",IDC_SS_ORDER_REVERSE, 64,101,44,10
    AUTORADIOBUTTON "Random",IDC_SS_ORDER_RANDOM,   110,101,42,10

    GROUPBOX        "Repeat",IDC_STATIC,8,130,148,37
    AUTORADIOBUTTON "Forever",IDC_SS_REPEAT_FOREVER, 19,145,44,10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Rounds:",IDC_SS_REPEAT_COUNT,   74,145,38,10
    EDITTEXT        IDC_SS_ROUNDS,117,144,24,14,ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX        "Zoom",IDC_STATIC,8,173,149,38
    LTEXT           "Mode:",IDC_STATIC,15,189,30,10
    COMBOBOX        IDC_SS_ZOOM,38,188,112,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "Custom Files Config",IDC_SS_CUSTOM_GROUP,164,8,188,204
    PUSHBUTTON      "Add file",IDC_SS_ADD_FILES,171,22,39,14
    PUSHBUTTON      "Add folder",IDC_SS_ADD_FOLDER,211,22,43,14
    PUSHBUTTON      "Move up",IDC_SS_MOVE_UP,255,22,43,14
    PUSHBUTTON      "Move down",IDC_SS_MOVE_DOWN,299,22,44,14
    LISTBOX         IDC_SS_FILELIST,173,40,168,167,LBS_EXTENDEDSEL | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      "Start\n Full Screen",IDC_SS_FULLSCREEN,28,227,90,26
    PUSHBUTTON      "Start\n Windowed",IDC_SS_WINDOWED,134,227,90,26
    PUSHBUTTON      "Cancel",IDCANCEL,240,227,90,26
END


/* Keyboard accelerators */
IDR_MAINMENU ACCELERATORS
BEGIN
    "S",         ID_FILE_SAVE_AS,     VIRTKEY, CONTROL
    VK_DELETE,   ID_FILE_DELETE,      VIRTKEY
    VK_DELETE,   ID_FILE_DELETE_PERM, VIRTKEY, SHIFT
    VK_F5,       ID_FILE_REFRESH,     VIRTKEY
    VK_LEFT,     ID_FILE_PREV,        VIRTKEY
    VK_PRIOR,    ID_FILE_PREV,        VIRTKEY
    VK_RIGHT,    ID_FILE_NEXT,        VIRTKEY
    VK_NEXT,     ID_FILE_NEXT,        VIRTKEY
    VK_ADD,      ID_VIEW_ZOOMIN,      VIRTKEY
    "=",         ID_VIEW_ZOOMIN,      ASCII
    VK_SUBTRACT, ID_VIEW_ZOOMOUT,     VIRTKEY
    "-",         ID_VIEW_ZOOMOUT,     ASCII
END


VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "obZrv\0"
            VALUE "ProductName",     "obZrv\0"
            VALUE "FileVersion",     "0.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
